:root {
    /* 
    * @name Header Color
    * @description Header Color
    */
    --headercolor: #171d25;
    /* 
    * @name Sidebar Color 1
    * @description Sidebar Gradient Color 1 (top)
    */
    --sidebarbackground1: #2d333c;
    /* 
    * @name Sidebar Color 2 
    * @description Sidebar Gradient Color 2 (bottom)
    */
    --sidebarbackground2: #24282f;
    /* 
    * @name Category Heading Color 
    * @description Gamelist Category Heading Gradient Color (left)
    */
    --categoryheading: #292f3b;
    /* 
    * @name Category Heading Hover Color 
    * @description Gamelist Category Heading Hover Color
    */
    --categoryheadinghover: #3e4e69;
    /* 
    * @name Gamelist Entry Selected Color
    * @description Gamelist Entry Selected Color
    */
    --entryselected: #3e4e69;
    /* 
    * @name Gamelist Entry Selected Hover Color
    * @description Gamelist Entry Selected Hover Color
    */
    --entryselectedhover: #586f96;
    /* 
    * @name Gamelist Entry Hover Color
    * @description Gamelist Entry Hover Color
    */
    --entryhover: #323a4b;
    /* 
    * @name Home/Collections Background Color 1
    * @description Home + Collections Background Gradient Color 1 (top)
    */
    --homebackground1: #2d333c;
    /* 
    * @name Home/Collections Background Color 2
    * @description Home + Collections Background Gradient Color 2 (bottom)
    */
    --homebackground2: #24282f;
    /*
    * @name Home and Collections Button Color
    * @description Home and Collections Button Color
    */
    --homebutton: #25272d;
    /*
    * @name Home and Collections Button Hover Color
    * @description Home and Collections Button Hover/Selected Color
    */
    --homebuttonhover: #3e4047;
    /*
    * @name Games Dropdown and Search Bar Color
    * @description Games Dropdown and Search Bar Color
    */
    --searchbar: #212124;
    /* 
    * @name Dialog Box Background Color
    * @description Dialog Box Background Color (with slight transparent gradient)
    */
    --dialogboxbackground: #25282e;
    /* 
    * @name Dialog Box Colored Button Color 1
    * @description Dialog Box Gradient Colored Button Color 1 (left)
    */
    --dialogboxbutton1: #47bfff;
    /* 
    * @name Dialog Box Colored Button Color 2
    * @description Dialog Box Gradient Colored Button Color 2 (right)
    */
    --dialogboxbutton2: #1a44c2;
    /* 
    * @name Settings Background Color
    * @description Settings Background Color (affects Settings and Game Settings)
    */
    --settingsbackground: #171d25;
    /* 
    * @name Settings Body Background Color
    * @description Settings Body Background Color (eg DLC Manager table)
    */
    --settingsbodybackground: #23262e;
    /* 
    * @name Settings Sidebar Background Color
    * @description Settings Sidebar Background Color
    */
    --settingssidebarbackground: #2a2d34;
    /* 
    * @name Settings Button/Input Box Color
    * @description Settings Input Box Color (eg Launch Options)
    */
    --settingsdialogbox: #3b3f48;
    /* 
    * @name Settings Input Hover Color
    * @description Settings Input Hover Color (eg Launch Options)
    */
    --settingsdialoginputhover: #434953;
    /* 
    * @name Settings Input Selected Color
    * @description Settings Input Selected Color
    */
    --settingsdialoginputselected: #23262e;
    /* 
    * @name Settings Button Hover Color
    * @description Settings Button Hover Color
    */
    --settingsdialogboxhover: #464d58;
    /* 
    * @name Context Menu Background Color
    * @description Context Menu Background Color
    */
    --contextmenu: #3d4450;
    /* 
    * @name Context Menu Hover Background Color
    * @description Context Menu Hover Background Color
    */
    --contextmenuhover: #dcdedf;
    /* 
    * @name Downloads Page Background Color 1
    * @description Downloads Page Background Color 1 (base)
    */
    --downloadspagebackground1: #3d4450;
    /* 
    * @name Downloads Page Background Color 2
    * @description Downloads Page Background Color 2 (gradient)
    */
    --downloadspagebackground2: #23262e;
    /* 
    * @name Downloads Page Item Hover
    * @description Downloads Page Item Hover
    */
    --downloadspagehover: #3d4450;
    /* 
    * @name Gamepage Glass Color
    * @description Gamepage Glass Color
    */
    --gamepageglass: #272c35;
    /* 
    * @name Gamepage Background Color 1
    * @description Gamepage Background Color 1
    */
    --gamepagebackground1: #2c323d;
    /* 
    * @name Gamepage Background Color 2
    * @description Gamepage Background Color 2
    */
    --gamepagebackground2: #151616;
    /* 
    * @name Gamepage Section Banner Background Color 1
    * @description Gamepage Section Banner Background Color 1 (eg: Achievements, Trading Cards, Review)
    */
    --gamepagesectionbanner1: #3b414a;
    /* 
    * @name Gamepage Section Banner Background Color 2
    * @description Gamepage Section Banner Background Color 2 (eg: Achievements, Trading Cards, Review)
    */
    --gamepagesectionbanner2: #2c3138;
    /* 
    * @name Gamepage Achievements Item Background Color 1
    * @description Gamepage Achievements Item Background Color 1
    */
    --gamepageachievements1: #2e323a;
    /* 
    * @name Gamepage Achievements Item Background Color 2
    * @description Gamepage Achievements Item Background Color 2
    */
    --gamepageachievements2: #24282f;
    /* 
    * @name Gamepage Events Background Color
    * @description Gamepage Events Background Radial Gradient Color (item)
    */
    --gamepageevents: #24282f;
    /* 
    * @name Gamepage Events Background Hover Color
    * @description Gamepage Events Background Radial Gradient Hover Color (item)
    */
    --gamepageeventshover: #536868;
    /* 
    * @name Gamepage Sections Background Color
    * @description Gamepage Sections Background Radial Gradient Color (Friends who play, Achievements, etc.)
    */
    --gamepagesections: #536868;
    /*
    * @name Play Button Color 1
    * @description Play Button Gradient Color 1 (left)
    */
    --playbutton1: #70d61d;
    /* 
    * @name Play Button Color 2
    * @description Play Button Gradient Color 2 (right)
    */
    --playbutton2: #01a75b;
    /* 
    * @name Play Button Arrow Color 1
    * @description Play Button Arrow Gradient Color 1 (left)
    */
    --playbuttonarrow1: #19b14e;
    /* 
    * @name Play Button Arrow Color 2
    * @description Play Button Arrow Gradient Color 2 (right)
    */
    --playbuttonarrow2: #19b14e;
    /* 
    * @name Play Button Hover Color 1
    * @description Play Button Hover Gradient Color 1
    */
    --playbuttonhover1: #70d61d;
    /* 
    * @name Play Button Hover Color 2
    * @description Play Button Hover Gradient Color 2 
    */
    --playbuttonhover2: #01a75b;   
    /* 
    * @name Friends List Header Color
    * @description Friends List Header Color (your name and profile picture)
    */
    --friendslistheader: #1c232c;
    /* 
    * @name Friends List Section Title Background Color
    * @description Friends List Section Title Background Color (Friends/Group Chats)
    */
    --friendslisttitle: #434953;
    /* 
    * @name Friends List Section Title Hover Background Color
    * @description Friends List Section Title Hover Background Color (Friends/Group Chats)
    */
    --friendslisttitlehover: #4a515c;
    /* 
    * @name Friends List Body Background Color
    * @description Friends List + Chat Window Body Background Color
    */
    --friendslistbody: #1c1d22;
    /* 
    * @name Friends List Search Box Background Color
    * @description Friends List Search Box + Chat Window Buttons Background Color
    */
    --friendslistsearch: #2c3036;
    /* 
    * @name Friends Chat Window Header Background Color
    * @description Friends Chat Window Header Background Color
    */
    --chatwindowheader: #1c232c;
    /* 
    * @name Friends Chat Window Tab Selected Background Color
    * @description Friends Chat Window Selected Tab Background Color
    */
    --chatwindowtab: #3a3e46;
    /* 
    * @name Friends Chat Window Tab (not selcted) Hover Background Color
    * @description Friends Chat Window Tab (not selected) Hover Background Color
    */
    --chatwindowtabhover: #434953;
    /* 
    * @name Friends Chat Window Footer Background Color
    * @description Friends Chat Window Footer + Chat Box Background Color
    */
    --chatwindowfooter: #22252b;
    /* 
    * @name Friends Chat Window Chat Buttons Hover Background Color
    * @description Friends Chat Window Chat Buttons Hover Background Color
    */
    --chatwindowbuttonshover: #3d424b;
}