/* @import "../colors.css"; */
/*
  @import variables.css */
/* Configurable variables */
:root {
    /* Left Sidebar - Games List */
    --GameListEntrySize: 16px;  /* Default: 16px.  */
    --CategoryNameHeaderSize: 13px;  /* Default: 13px.  */
    --GameListZoomSize: 75%;  /* Default: 100%. 75% highly recommended for Game List similar to old Library UI. Affects GameListEntrySize and CategoryNameHeaderSize */
    
    /* Game Grid */
    --GameImageTransition: 1s;  /* Default: .4s, .4s, .4s, .2s. Grid Game Images transition time. 0s for instant, 2s for smooth. */
    --UninstalledGameImageOpacity: 0.5;  /* Default: 1. Suggested values: 0.5, 0.2 */
    --GameGridImageBackground: inherit;  /* Default: inherit. Default is inherit, set #365d2d for a friendly green */
    --GridRowGap: 8px;  /* Default: 24px. Corresponds with JavaScript tweak - Home Page Grid Spacing. */
    --GridColumnGap: 5px;  /* Default: 16px. Corresponds with JavaScript tweak - Home Page Grid Spacing. */
    --RemoveGameHover: block;  /* Default: block. Set to none to remove game preview box when hovering over game */
    
    /* Bottom Bar to top */
    --username-length: 157px; /* width of your username - you will need to configure this */
    --order-friends: 3; /* Reorder Friends & Chat Button  */
    --order-add-game: 2; /* Reorder Add a Game Button  */
    --order-download: 1; /* Reorder Manage Downloads Button  */
    
    /* Game Page Layout */
    --AchievementsClickHighlight: Highlight_opacity;  /* Default: appdetailsoverview_HighlightMe_25jnp. Options: Highlight_opacity Highlight_border. Set to disabled to disable. */
    
    /* Game Page Elements */
    --RecommendGame: block;  /* Default: block. Set to none to hide "Recommond this game" box on game page. */
    --DLCAvailableContent: none;  /* Default: block. Set to none to hide the DLC Available Content box. */
    
    /* Game Page Background */
    --AppPageBlur: 2px;  /* Default: 8px. Controls the blur between the Header and AppPage content. 2px for a more clean look. */
    --AmbientBlur: black;  /* Default: black 80%. Set to rgba(0,0,0,0) to remove */
}
/* @import "./Backgrounds.css"; */
/*
  @import steam\gamepage\Achievements.css */
/* Enlarge Achievements content space*/
.HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf {
    width: 95%;
    max-width: unset;
    margin: 14px auto 14px auto;
}
/*
  @import steam\gamepage\PlayButton.css */
/* Main Play Button Color */
._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX {
  background: linear-gradient(to right, var(--playbuttoncolor1) 0%, var(--playbuttoncolor2) 60%);
  background-position: 25%;
  background-size: 330% 100%;
}
/* Secondary Play Button (Play On: Device) Button Color */
._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi {
  background: linear-gradient(to right, var(--playbuttonarrowcolor1) 0%, var(--playbuttonarrowcolor2) 60%);;
  background-position: 25%;
  background-size: 330% 100%
}
/* Main and Secondary Play Button Hover Color */
:not(._1Pb6PMh_3L5p5NzuUz0Pp9)>._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX:hover {
  background: linear-gradient(to right, var(--playbuttonhovercolor1) 0%, var(--playbuttonhovercolor2) 60%);
  background-position: 0%;
  background-size: 330% 100%;
  color: var(--playbuttonhovertextcolor);
}
/* Small Play Button on Recent Games */
._3AjoLnMNKxYmNTGTJCLfgs._1_Bo2Ied5s2Od4YKYTOsau:not(._1aml4h4CSJbtrNbX4brUYs) {
    background: radial-gradient(circle farthest-corner at 50% 50%, var(--playbuttoncolor1) 0%, var(--playbuttoncolor2) 100%);
}
/* Context Menu Play Button */
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Stream, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Connect, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Launch, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.PlayMusic, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Play {
    background: linear-gradient(-45deg, var(--playbuttoncolor1) 0%, var(--playbuttoncolor2) 70%);
}
/* Context Menu Play Button Hover */
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Stream:hover,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Stream:focus,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Connect:hover,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Connect:focus,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Launch:hover,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Launch:focus,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.PlayMusic:hover,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.PlayMusic:focus,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Play:hover,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Play:focus {
    background: linear-gradient(-45deg, var(--playbuttonhovercolor1) 0%, var(--playbuttonhovercolor2) 70%);
}
/*
  @import steam\gamepage\GamePageTweaks.css */
/* Gamepage Game Details Panel Text Color */
._2jPMy2QZr8bWi6yrk5ZzHA ._1uS70KI6ZbUE94jUB27ioB ._3GkV1NVDKuXYTLyRt2Uirz {
    color: rgba(195, 195, 195, 1);
}
/*
  @import steam\sidebar\SidebarTweaks.css */
/* Show all collections button (View), fix margin, width and centering of text */
._2Q95p8Q2cZFieeOi06-FS9 {
    margin: 0px 32px 8px 32px;
    width: unset;
    justify-content: center;
}
