/* Swap main AppPage content columns */
._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO {
    width: 61%;
    margin-left: 0;
    margin-right: 10px;
    float: left;
}

._3yTl3RiWfo-Itg-xp967wP {
    max-width: unset;
}