/* Gamepage Game Details Panel Text Color */
._2jPMy2QZr8bWi6yrk5ZzHA ._1uS70KI6ZbUE94jUB27ioB ._3GkV1NVDKuXYTLyRt2Uirz {
    color: rgba(195, 195, 195, 1);
}

/* ----- */

/* Increase text opacity of heading for Last Played, Play Time, Achievements*/
._34lrt5-Fc3usZU6trA1P0- {
    color: rgba(255, 255, 255, 0.9);
}

/* Increase icon opacity of Play Time */
._1aKegVl9_lSdNAyWYZQlr9 ._1GZdosVXnfrf69yU8DWASl svg polyline, ._1aKegVl9_lSdNAyWYZQlr9 ._1GZdosVXnfrf69yU8DWASl svg path {
    stroke: rgba(255, 255, 255, 0.5);
}

._1aKegVl9_lSdNAyWYZQlr9 ._1GZdosVXnfrf69yU8DWASl svg circle {
    stroke: rgba(255, 255, 255, 0.5);
    fill: rgba(255, 255, 255, 0.5);
}

/* Increase text opacity of value for Last Played, Play Time*/
._2TYVGoD27ZMfjRirKQNLfk, ._3pS8kMrtScuY1Qf-W8tmRV ._1nfJNsQjTOXSQQyFahGnRi {
    color: rgba(255, 255, 255, 0.5);
}

/* Increase text opacity of Gamepage Top Bar when scrolled down */
span._3rpUkswF6xc_ste4Ros_xM {
    color: rgba(255, 255, 255, 0.7);
}

/* ----- Not in use but for future reference ----- */

/* Nav bar */
._3-V8vjmrwuJM6Ws3tsjFJj>div {
    background: radial-gradient(100% 80% at 64% 95%,
    rgba(108, 119, 134, 0.1) 40%,
    rgba(83, 104, 104, 0.1) 100%) !important
}

/* Section box */
._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t {
    background: radial-gradient(100% 80% at 64% 95%,
    rgba(153, 174, 204, 0.3) 0%,
    rgba(125, 150, 184, 0.13) 40%,
    rgba(83, 104, 104, 0.1) 100%);
}