/* Tweak Nav Bar height */
._3-V8vjmrwuJM6Ws3tsjFJj .DgVQapkBmhAW6oPY5rPZo {
    height: 35px !important;
}

/* Nav Bar padding */
._3-V8vjmrwuJM6Ws3tsjFJj ._25f0fX6qbgdB7O_lMrbhCN {
    padding: 0px 10px 3px 4px;
}

/* Larger font, more opaque */
._7k4qmaN8SUMvv6u-L81uk ._2sNDjgK9EWiPLdNGkjun-w {
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 15px;
}

/* Slightly tweak item padding */
._7k4qmaN8SUMvv6u-L81uk ._1b6LYWVijW-9E4YV0keDWZ {
    padding: 3px 12px 3px 12px;
}

/* Remove excessive margin and padding between items */
._7k4qmaN8SUMvv6u-L81uk {
    padding: 4px;
    margin-right: 0px;
}