/* Main Play Button Color */
._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX {
  background: linear-gradient(to right, var(--playbutton1) 0%, var(--playbutton2) 60%);
  background-position: 25%;
  background-size: 330% 100%;
}

/* Secondary Play Button (Play On: Device) Button Color */
._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi {
  background: linear-gradient(to right, var(--playbuttonarrow1) 0%, var(--playbuttonarrow2) 60%);;
  background-position: 25%;
  background-size: 330% 100%
}

/* Main and Secondary Play Button Hover Color */
:not(._1Pb6PMh_3L5p5NzuUz0Pp9)>._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX:hover {
  background: linear-gradient(to right, var(--playbuttonhover1) 0%, var(--playbuttonhover2) 60%);
  background-position: 0%;
  background-size: 330% 100%;
  color: var(--playbuttonhovertext);
}

/* Small Play Button on Recent Games */
._3AjoLnMNKxYmNTGTJCLfgs._1_Bo2Ied5s2Od4YKYTOsau:not(._1aml4h4CSJbtrNbX4brUYs) {
    background: radial-gradient(circle farthest-corner at 50% 50%, var(--playbutton1) 0%, var(--playbutton2) 100%);
}

/* Context Menu Play Button */
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Stream, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Connect, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Launch, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.PlayMusic, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Play {
    background: linear-gradient(-45deg, var(--playbutton1) 0%, var(--playbutton2) 70%);
}

/* Context Menu Play Button Hover */
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Stream:hover,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Stream:focus,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Connect:hover,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Connect:focus,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Launch:hover,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Launch:focus,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.PlayMusic:hover,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.PlayMusic:focus,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Play:hover,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Play:focus {
    background: linear-gradient(-45deg, var(--playbuttonhover1) 0%, var(--playbuttonhover2) 70%);
}

/* Play button width to be the same with dropdown */
._1FnJ6dPuknQFQ2RTpKTI16._1hhB2Wf7iExA15zh_lDQ_y {
    max-width: 164px;
    min-width: 164px;
}