/*
  This file is compiled using postcss + postcss-import */
/*
  @import steam\customisables\Backgrounds.css */
/* Home Page Background */
._3Sb2o_mQ30IDRh0C72QUUu {
    background-image: linear-gradient(to bottom, var(--homebackground1) 0%, var(--homebackground2) 20%);
}
.u1xD3KJEgksF_J_5TLZzO,
/* Collections Page Background */
/* Hidden/Soundtracks Page Background */
._2sNr7PFYcJZWNkEMCDVVPR {
    background: radial-gradient(100% 100% at 33% 45%, var(--homebackground1) 0%, var(--homebackground2) 100%);
}
/* Dialog Box Background */
.DialogContent,
.DialogContentTransition {
    background: radial-gradient(circle at top left, 
    rgba(74, 81, 92, 0.4) 0%, 
    rgba(75, 81, 92, 0) 60%), 
    var(--dialogboxbackground);
}
/* Filters Box Background */
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1dgAMymUAUYzUcZjUjOFm7 .Woh0kBQCmatzC1daBX9i6 {
    background: color-mix(in srgb, var(--dialogboxbackground) 82%, white 18%);
}
/* Settings Dialog Box Background */
.CFTLX2wIKOK3hNV-fS7_V.DesktopUI,
.DesktopUI .CFTLX2wIKOK3hNV-fS7_V {
    background: var(--settingsbackground);
}
._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3sXdOJ9DEh5zdS54_ptwgW,
/* Settings Dialog Box Body Background (DLC Manager) */
/* (Workshop) */
._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3ZhiKhciPyiGGxDFuGOYpc .pht3SaejGcAJEjNG8d6nd {
    background: var(--settingsbodybackground);
}
/* Settings Dialog Box Sidebar Background */
._2kwFFHckg8jvnwJfg9-la8 {
    background: var(--settingssidebarbackground);
}
/* Settings Sidebar Selected Item */
._1-vlriAtKYDViAEunue4VO._2DpXjzK3WWsOtUWUrcuOG7 {
    background-color: var(--settingssidebarselected);
}
/* Settings Sidebar Selected Hover */
._1-vlriAtKYDViAEunue4VO:hover:not(._2DpXjzK3WWsOtUWUrcuOG7) {
    background-color: var(--settingssidebarhover);
}
/* Controller Steam Input Status Background */
._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3lj3-GDYOlcoIFB3fFo1ko {
    background: color-mix(in srgb, var(--settingsdialogbox), transparent 80%);
}
/* Downloads Page Background */
._1bq4x9pa4-9RLY-dXWUZTp {
    background: radial-gradient(farthest-corner at 0px 0px, var(--downloadspagebackground1) 0%, var(--downloadspagebackground2) 90%);
}
/* Downloads Page Item Hover */
._1VNuYHM6BPBOJspC6zPf5r._3-SbBb63lDnu6LzKV-q3Cg,
._1VNuYHM6BPBOJspC6zPf5r:hover {
    background-color: var(--downloadspagehover);
}
/* Game Page Background Color */
._3FmxxjyWNHU1PrBGnBe6tm._2l416KfEtI4CL0mCUEmOBw {
    background-image: radial-gradient(100% 100% at 45% 35%, var(--gamepagebackground1) 0%, var(--gamepagebackground2) 100%);
}
/* Game Page Section Banner Background Color */
._38t1mljBjmJfqjpVzMT1CG {
    background: linear-gradient(to right, var(--gamepagesectionbanner1) 0%, var(--gamepagesectionbanner2) 95%);
}
/* Game Page Achievements Item Background COlor */
.UVeN0kaD3zv1feMj_mMw5 .NEMXhMlqXOCJwfgWlHXhT {
    background: linear-gradient(to right,
    color-mix(in srgb, var(--gamepageachievements1), transparent 20%) 0%,
    color-mix(in srgb, var(--gamepageachievements2), transparent 20%) 95%);
}
/* Gamepage Events Background */
._1HZy7BvOZuPT8feUwadL4W,
._3QRf-tp5VddAF00vWY5Gn8 /* Small Update / Patch Notes */ {
    background: radial-gradient(100% 80% at 64% 95%, 
    color-mix(in srgb, color-mix(in srgb, var(--gamepageevents) 65%, white 35%), transparent 70%) 0%,
    color-mix(in srgb, color-mix(in srgb, var(--gamepageevents) 86%, white 14%), transparent 50%) 20%,
    color-mix(in srgb, var(--gamepageevents), transparent 50%));
}
/* Gamepage Events Background Hover*/
._1HZy7BvOZuPT8feUwadL4W:hover,
._3QRf-tp5VddAF00vWY5Gn8:hover /* Small Update / Patch Notes */ {
    background: radial-gradient(100% 80% at 64% 95%,
    color-mix(in srgb, color-mix(in srgb, var(--gamepageeventshover) 25%, rgb(167 196 255) 75%), transparent 70%) 0%,
    color-mix(in srgb, color-mix(in srgb, var(--gamepageeventshover) 50%, rgb(167 196 255) 50%), transparent 87%) 40%,
    color-mix(in srgb, var(--gamepageeventshover), transparent 90%) 100%);
}
/* Gamepage Sections Color */
._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t {
    background: radial-gradient(100% 80% at 64% 95%, 
    color-mix(in srgb, color-mix(in srgb, var(--gamepagesections) 25%, rgb(167 196 255) 75%), transparent 70%) 0%,
    color-mix(in srgb, color-mix(in srgb, var(--gamepagesections) 50%, rgb(167 196 255) 50%), transparent 87%) 40%,
    color-mix(in srgb, var(--gamepagesections), transparent 90%) 100%);
}
/*
  @import steam\customisables\Buttons.css */
/* 
  HOME, COLLECTIONS, SHOW ALL COLLECTIONS */
/* Home, Collections Buttons */
._3pSPluBgf0NeR1kkCLWMhR {
    background-color: var(--homebutton);
}
._3pSPluBgf0NeR1kkCLWMhR:hover, ._3pSPluBgf0NeR1kkCLWMhR.eNLOx4LVceeMwRvTVWh3, /* Home, Collections Buttons Hover/Selected */
._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC:hover, /* Games Dropdown Hover */
.uE7Pj4tb2n3_Bx4vjEX0a:hover .SVGIcon_Arrow /* Scroll to Top Hover */,
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._31r1_h2SmzwQtP9ZLLyA0I, 
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU:not(._1Gjk27xaRIzt2zOSwOSP0N):hover /* Filter Button Hover */ {
    background-color: var(--homebuttonhover);
}
/* Show All Collections Button (View Menu) */
/* equivalent to #3d3f47 with default value */
._2Q95p8Q2cZFieeOi06-FS9 {
    background-color: color-mix(in srgb, var(--homebutton) 88.5%, white 11.5%);
}
/* Show All Collections Button (View Menu) hover */
/* equivalent to #545763 with default value */
._2Q95p8Q2cZFieeOi06-FS9:hover {
    background-color: color-mix(in srgb, var(--homebuttonhover) 87.8%, white 12.2%);
}
._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC, /* Games Dropdown */
._20QAC4WMXm8qFE8waUT5oo /* Search Bar */ {
    background-color: color-mix(in srgb, var(--searchbar) 60%, transparent 40%);
}
/* 
  DIALOG BOX */
/*Dialog box button color */
button.DialogButton.Primary, button.DialogButton.Primary:hover {
    background: linear-gradient(to right, var(--dialogboxbutton1) 0%, var(--dialogboxbutton2) 60%);
}
/* Hover dialog box button color change */
button.DialogButton.Primary:hover, button.DialogButton.Primary.gpfocus {
    background-position: 0%;
    background-size: 330% 100%;
    color: #fff;
}
/* Selected/Focused dialog box button color change */
button.DialogButton.Primary:enabled:active, button.DialogButton.Primary:enabled:hover:active, button.DialogButton.Primary:enabled:active.gpfocus {
    background: linear-gradient(to right, var(--dialogboxbutton1) 0%, var(--dialogboxbutton2) 60%);
    background-position: 40%;
    transition-duration: .04s;
}
.DialogTextInputBase, ._DialogInputContainer, /* Settings Dialog Input Box Background */ 
.JA6JIY08WWMEfWP-sZkZ2.DesktopUI, .DesktopUI .JA6JIY08WWMEfWP-sZkZ2, /* Settings Input Box/Button Color */ 
._1FyBL6obxHQ2Z2CsaV2Gbz._1FyBL6obxHQ2Z2CsaV2Gbz:not(.HkTNMTzgCdY-DINJyKsGL) ._1KAp5PPYG7si-T_66zNEcU,
._1FyBL6obxHQ2Z2CsaV2Gbz:not(.HkTNMTzgCdY-DINJyKsGL) ._1FyBL6obxHQ2Z2CsaV2Gbz ._1KAp5PPYG7si-T_66zNEcU, /* incl. Installed Files buttons */
._3epr8QYWw_FqFgMx38YEEm.DesktopUI, .DesktopUI ._3epr8QYWw_FqFgMx38YEEm, /* Settings -> Account buttons */ 
.BRmrC-jnwpXqye4oYB21C button.DialogButton /* Settings -> Notifications -> Expand buttons */{
    background: color-mix(in srgb, var(--settingsdialogbox), transparent 50%);
}
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN, /* Overlay Notes Buttons */
._2j-W28YC1xAizcE7x9KkDT > button.DialogButton /* Clock Buttons */ {
    background: var(--settingsdialogbox);
}
._3few7361SOf4k_YuKCmM62 .DialogDropDown:hover, /* Settings Dialog DropDown Hover Background */
._1FyBL6obxHQ2Z2CsaV2Gbz._1FyBL6obxHQ2Z2CsaV2Gbz:not(.HkTNMTzgCdY-DINJyKsGL) ._1KAp5PPYG7si-T_66zNEcU:hover,
._1FyBL6obxHQ2Z2CsaV2Gbz:not(.HkTNMTzgCdY-DINJyKsGL) ._1FyBL6obxHQ2Z2CsaV2Gbz ._1KAp5PPYG7si-T_66zNEcU:hover, /* incl. Installed Files buttons */
._1FyBL6obxHQ2Z2CsaV2Gbz._1FyBL6obxHQ2Z2CsaV2Gbz:not(.HkTNMTzgCdY-DINJyKsGL) .DialogDropDown:hover,
._1FyBL6obxHQ2Z2CsaV2Gbz:not(.HkTNMTzgCdY-DINJyKsGL) ._1FyBL6obxHQ2Z2CsaV2Gbz .DialogDropDown:hover /* Updates Dropdowns hover */ {   
    background: var(--settingsdialogboxhover);
}
/* Settings Dialog Input Hover */
.DialogTextInputBase:not(:disabled):hover {
    background: color-mix(in srgb, var(--settingsdialoginputhover), transparent 60%);
}
/* Settings Dialog Input Selected */
.DesktopUI .DialogTextInputBase:focus, .DialogTextInputBase:focus-within {
    background: var(--settingsdialoginputselected)
}
/* Settings Dialog Box Hover Color */
button.DialogButton:hover, button.DialogButton.gpfocus {
    background: var(--settingsdialogboxhover);
    color: #fff;
}
/* Radio Chooser
  Selected in SystemAccent.css */
._1ml4SNc3LIyBDHIf8ekVSw, /* Background */ 
.HijmccPB1BKyhOwhX1EVl /* Buttons (not selected) */ {
    background-color: color-mix(in srgb, var(--settingsdialoginputselected) 96%, white 4%);
}
/* Hover */
.HijmccPB1BKyhOwhX1EVl:not(._3hmGW9wIxNIoPPu1aS7rFm):hover {
    background-color: var(--settingsdialogboxhover);
}
/*
  @import steam\customisables\ContextMenu.css */
/* Context Menu Background */
.DesktopUI .PP7LM0Ow1K5qkR8WElLpt, ._3qIuY9S_vXm3IQS-uE9SRS .PP7LM0Ow1K5qkR8WElLpt,
._3pofGqV0buiKAfMPEs3_82 /* Menus + SuperNavs */ {
    background: var(--contextmenu);
}
/* Home Page Sort By Dropdown */
._1ZpBQtDqcKBbfIIv01Vs1R>div.DesktopUI, .DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R>div,
.DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer /* Add Shelf dropdown */ {
    background: var(--contextmenu) !important;
}
/* Context Menu Hover/Selected Background */
.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI:hover, 
.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI._18z-3vkWndCBO5WJgFldRK, 
._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI:hover, 
._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI._18z-3vkWndCBO5WJgFldRK {
    background: var(--contextmenuhover);
}
/* Home Page Sort By Dropdown */
._1ZpBQtDqcKBbfIIv01Vs1R ._1ZtpSq62fy_8W-_0pMn5cu:focus.DesktopUI, 
.DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R ._1ZtpSq62fy_8W-_0pMn5cu:focus,
.DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz .lYnGtW6EEZqmYUVJH2wLC:focus /* Add Shelf dropdown focus */ {
    background: var(--contextmenuhover);
}