/* Thickness of Scrollbar */
._3xRRJfD2xy95i9NhJxLTp0 *::-webkit-scrollbar,
._1UOkn2fGQ25jnyqcEJbnlo::-webkit-scrollbar {
    width: 16px; /* default 12px */
}

::-webkit-scrollbar-thumb {
    border-radius: 6px; /* default 10px */
}

/* Scrollbar Knob appearance */
._3xRRJfD2xy95i9NhJxLTp0 *::-webkit-scrollbar-thumb,
._1UOkn2fGQ25jnyqcEJbnlo::-webkit-scrollbar-thumb {
    border: 1px solid transparent; /* default: 3px solid transparent */
    border-right: 0px solid transparent;
    background-color: rgba(140,140,140,0.35);
}
/* Scrollbar Knob appearance on click (:active) */
._3xRRJfD2xy95i9NhJxLTp0 *::-webkit-scrollbar-thumb:active,
._1UOkn2fGQ25jnyqcEJbnlo::-webkit-scrollbar-thumb:active {
    border: 1px solid transparent;
    border-right: 0px solid transparent;
    background-color: rgba(140, 140, 140, 0.22);
}