

._2rjVTGz8aLvqOdz5v2gq5C, /* Settings Title */
._3yD46y5pd3zOGR7CzKs0mC.online, /* Username Online */
.H4JE-8OU0E7AeMZY3bEeM, /* Family library name in settings */
.BRmrC-jnwpXqye4oYB21C button.DialogButton, /* double down arrows in settings */
.online .nOdcT-MoOaXGePXLyPe0H, /* online player text */
._3kXEpnxa2qb5znYMSbKT0p, /* Patch Notes Downloads Page */
._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._1KmR8MOpvgQ9OO2AmwOCca /* Storage Available Text (Game Settings) */ {
    color: var(--SystemAccentColor) !important;
}

._3kXEpnxa2qb5znYMSbKT0p:hover /* Patch Notes Downloads Page */ {
    filter: brightness(1.3);
}

/* Selected Store, Library, Community... text*/
._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ {
    color: var(--SystemAccentColor);
    text-shadow: 0px 0px 1px var(--SystemAccentColor);
}

._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ::after, /* Selected Store, Library, Community... Underline */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2X_ZpO2X_CIOIEfml3ZTcX ._2KYMMVVayBKt9_rEg88mBZ.B0KOfNkg7hq7nxHumDWOJ /* Search button in Game Servers */ { 
    background: var(--SystemAccentColor);
}

/* Chooser (in settings) */
.HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q, .HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q:hover {
    background: radial-gradient(color-mix(in srgb, var(--SystemAccentColor), transparent 27%) 0%, var(--SystemAccentColor) 100%);
}

._2bl0iQ9xigbq4Zd1NI6NZl::before, /* Switches (in settings) */
._2_vG6TwMW2XtyLlTEaODH9::before, /* Slider (in settings) */
._7EGqd8bdiXJBd2fj5Hh8r ._2sQtvR60AbFF5UzDwY9hit._1gKI37LOWj1Df3QSnxvKyF, /* Radio button (in settings) */
.N8aJrSpxQ6II4CY_aFdYI /* New to Library */ {
    background-color: var(--SystemAccentColor);
}

/* Down Arrow Context Menu */
.DialogDropDown_Arrow .SVGIcon_DownArrowContextMenu {
    fill: var(--SystemAccentColor);
}

/* Item Drag Box Border Color */
.OINnOU8K5HzPe2nzczpZi._2m6Q3ca-wXeLIVShFCO51T, .IbePLaw-vSvhG1GTenYFg .OINnOU8K5HzPe2nzczpZi._2m6Q3ca-wXeLIVShFCO51T:has(._3-SbBb63lDnu6LzKV-q3Cg) {
    border: 2px dashed var(--SystemAccentColor);
}