

._2rjVTGz8aLvqOdz5v2gq5C, /* Settings Title */
._3yD46y5pd3zOGR7CzKs0mC.online, /* Username Online */
.H4JE-8OU0E7AeMZY3bEeM, /* Family library name in settings */
.BRmrC-jnwpXqye4oYB21C button.DialogButton, /* double down arrows in settings */
.online .nOdcT-MoOaXGePXLyPe0H, /* online player text */
._3kXEpnxa2qb5znYMSbKT0p, /* Patch Notes Downloads Page */
._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._1KmR8MOpvgQ9OO2AmwOCca, /* Storage Available Text (Game Settings) */
._2yUw38WTqPyZaPo3WENI46 /* Activation Successful Game Name */ {
    color: var(--SystemAccentColor) !important;
}

._3kXEpnxa2qb5znYMSbKT0p:hover /* Patch Notes Downloads Page */ {
    filter: brightness(1.3);
}

/* Ready to Play Button */
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq svg,
._23SnllqT_AqZ1C_QHcNQ4Z .SVGIcon_ReadyToPlay path {
    fill: color-mix(in srgb, var(--SystemAccentColor) 73%, white);
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq svg path,
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq svg line,
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq svg polyline,
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq svg circle,
._23SnllqT_AqZ1C_QHcNQ4Z .SVGIcon_ReadyToPlay circle {
    stroke:  color-mix(in srgb, var(--SystemAccentColor) 73%, white);
}

/* Ready to Play Button Hover */
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq:hover svg {
    fill: color-mix(in srgb, var(--SystemAccentColor) 41%, white);
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq:hover svg path,
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq:hover svg line,
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq:hover svg polyline,
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq:hover svg circle {
    stroke: color-mix(in srgb, var(--SystemAccentColor) 41%, white);
}

/* Ready to Play text in Collections */
._3t1pLSlyQNch796PyUolcK ._38IOu1p2yIVM7uP-dMWew6 {
    color: color-mix(in srgb, var(--SystemAccentColor) 73%, white);
}


._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._2rILnoW6swWh4_9TDWWc31, /* Filters button selected */
._172OFJhtx4Jt2ydY6-9IUm ._3gzh_NvTKey56JeHY7Q1WW /* categories selected */ {
    background-color: color-mix(in srgb, var(--SystemAccentColor) 98%, white 2%);
}


/* Categories headings in filter */
._170Npw5h84elypMSQ8zNDI ._1ennWu_xj2YF8FRYgJ2M2H ._1axoiZsC1RBp22JQmxiBIc ._3iV2vMTw_vwWJ_gmiz1Q1k {
    color: color-mix(in srgb, var(--SystemAccentColor) 95%, white 5%);
}
/* Checkboxes for categories */
._170Npw5h84elypMSQ8zNDI ._1ennWu_xj2YF8FRYgJ2M2H ._1axoiZsC1RBp22JQmxiBIc ._32e6rHniKd5ztOQ1lYIulu ._1J53P1yXTWlwJRyCAzMQei ._2AOkQORncEi9SJ3FCWnPmY svg path {
    stroke: color-mix(in srgb, var(--SystemAccentColor) 95%, white 5%);
}

/* Selected Store, Library, Community... text*/
._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ {
    color: var(--SystemAccentColor);
    text-shadow: 0px 0px 1px var(--SystemAccentColor);
}

._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ::after, /* Selected Store, Library, Community... Underline */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2X_ZpO2X_CIOIEfml3ZTcX ._2KYMMVVayBKt9_rEg88mBZ.B0KOfNkg7hq7nxHumDWOJ /* Search button in Game Servers */ { 
    background: var(--SystemAccentColor);
}

/* Chooser (in settings) */
.HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q, .HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q:hover {
    background: radial-gradient(color-mix(in srgb, var(--SystemAccentColor), transparent 27%) 0%, var(--SystemAccentColor) 100%);
}

._2bl0iQ9xigbq4Zd1NI6NZl::before, /* Switches (in settings) */
._2_vG6TwMW2XtyLlTEaODH9::before, /* Slider (in settings) */
._7EGqd8bdiXJBd2fj5Hh8r ._2sQtvR60AbFF5UzDwY9hit._1gKI37LOWj1Df3QSnxvKyF, /* Radio button (in settings) */
.N8aJrSpxQ6II4CY_aFdYI /* New to Library */ {
    background-color: var(--SystemAccentColor);
}

/* Down Arrow Context Menu */
.DialogDropDown_Arrow .SVGIcon_DownArrowContextMenu {
    fill: var(--SystemAccentColor);
}

/* Item Drag Box Border Color */
.OINnOU8K5HzPe2nzczpZi._2m6Q3ca-wXeLIVShFCO51T, .IbePLaw-vSvhG1GTenYFg .OINnOU8K5HzPe2nzczpZi._2m6Q3ca-wXeLIVShFCO51T:has(._3-SbBb63lDnu6LzKV-q3Cg) {
    border: 2px dashed var(--SystemAccentColor);
}

/* Downloads Page Top Left Bar */
._3mZ2rKd2RECK4q4ufmsDYX.pHDI1ddoKXceD5KL7W-4z {
    background: linear-gradient(to right, color-mix(in srgb, var(--SystemAccentColor) 84%, black 16%) 0%, var(--SystemAccentColor) 100%);
}

/* FRIENDS LIST */
/* Highlight Text Color - In Invite Friends Dialog */
.DialogHighlight {
    color: color-mix(in srgb, var(--SystemAccentColor) 93%, black 7%);
}

/* Send Chat Button */
._3Ule3rolhZJiBN4yNNtk1s .RVIs84dAE6wHcjH9tkinc:not(.jaQN2IyN4P8LZXJ6P11qy) {
    background: linear-gradient(136deg, color-mix(in srgb, 
    var(--SystemAccentColor) 17%, #003333 83%) 1%, 
    var(--SystemAccentColor) 60%);
}